
    <div class="row d-flex justify-content-center " style="height: 905px;">
        
            <div class="col-md-4 align-middle">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" [(ngModel)]="username">
            
                <label for="psw">Password</label>
                <input type="text" id="psw" class="form-control" [(ngModel)]="password">
                <span *ngIf="isSubmited" for="psw" class="text-danger">Username or password Incorrect.</span>

                <br>
                <button class="btn btn-primary" id="signin" (click)="onSignin()">Sign In</button>
            </div>
    </div>
