/* You can add global styles to this file, and also import other style files */


.icon{
    font-size: 30px;
    margin: 10px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}