<div class="container">
    <h4 [ngStyle]="{'text-align': 'center'}"> {{title}} </h4>

    <form (ngSubmit)="onSubmit();">
        <div class="mb-3 m-3">
            <!-- <label for="#id"> Product Id :</label>
            <input type="number" class="form-control" name="id" [(ngModel)]="product.id" disabled/> -->

            <label for="#name"> Product Name :</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" />
        </div>
        <div class="mb-3 m-3">

            <button type="Submit" class="btn btn-primary" > Submit </button>

        </div>
    </form>
</div>

